/* Common */
h1 {
    font-size: 1.5em;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 20px;
}
li {
    display: list-item;
    line-height: 1.4;
}
strong,
b {
    font-weight: bold;
}
p {
    line-height: 20px;
}
/* =============================== */
/* CV */
#cv-page {
    background-color: bisque;
}
#cv-page hr {
    border-top: 2px solid #333;
}
#cv-page h1 {
    font-style: normal;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
#cv-page .container {
    background-color: white;
    max-width: 772px;
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
}
#cv-page .header {
    text-align: center;
    padding-top: 44px;
}
#cv-page .content {
    max-width: 636px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
}
#cv-page .job-name {
    display: flex;
    justify-content: space-between;
}
#cv-page .job-title,
#cv-page .date {
    font-weight: 700;
}
