/* Common */
h1 {
    font-size: 1.5em;
}
strong,
b {
    font-weight: bold;
}
p {
    line-height: 20px;
}
/* =============================== */
/* CV */
#cv-page {
    background-color: bisque;
}
#cv-page hr {
    border-top: 2px solid #333;
}
#cv-page ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 20px;
}
#cv-page li {
    display: list-item;
    line-height: 1.4;
}
#cv-page h1 {
    font-style: normal;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
#cv-page .container {
    background-color: white;
    max-width: 772px;
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
}
#cv-page .header {
    text-align: center;
    padding-top: 44px;
}
#cv-page .content {
    max-width: 636px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
}
#cv-page .job-name {
    display: flex;
    justify-content: space-between;
}
#cv-page .job-title,
#cv-page .date {
    font-weight: 700;
}

/* =============================================== */
/* Menu */
#menu .nav-bar {
    background-color: #3e5cca;
    max-width: 1270px;
    margin: 0 auto;
}
#menu .menu {
    display: flex;
    padding: 0 40px;
    justify-content: center;
}
#menu .menu li:first-of-type a {
    background-color: white;
    color: black;
}
#menu .menu a {
    display: block;
    padding: 30px 40px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#menu .menu a:hover {
    background-color: white;
    color: #333;
}
